/* .bbD {
    background-color: #555555;
    border-radius: 5px;
    height: 15px;
    width: 30px;
    padding: 2px;
    margin: 0 auto;
}
.bD {
    border-radius: 5px;
    cursor: pointer;
    background-color: #f1f1f1;
    height: 15px;
    width: 15px;
    margin-left: 14px;
}

.bbL {
    background-color: #555555;
    background: transition 200ms linear
}
.bL {
    background-color: #f1f1f1;
} */
