.back {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;  
    right: 0;
    background-color: #16161a;
    display: none;
    z-index: 24;
}
.active {
    display: block;
    position: fixed;
}
.x {
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    padding-top: 9px;
    padding-right: 17px;
}
.x:hover {
    color: red;
}
.sidebarMenu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebarMenu a {
    display: block;
    width: 200px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
    cursor: pointer;
    margin-bottom: 5px;
}
.sidebarMenu a:hover {
    color: #D2691E;
    background-color: #ffffff;
}
.separator {
    width: 100%;
    background-color: var(--background-color);
    color: var(--background-color);
    height: 1px;
    border: none; 
}