:root {
    --background-color: #16161a;
    --block-color: #232329;
    --font-color: #f8f4ff;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app {
    margin-top: 60px;
    margin-bottom: 50px;
}